<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>

    <!-- Dados do remetente -->
    <add key="remetente" value="SeuEmail"/>
    <!-- endereo de e-mail de envio -->
    <add key="senha"  value="SuaSenha"/>
    <!-- Senha do E-mail -->

    <!-- Config Envio -->
    <add key="port" value="587"/>
    <!-- Porta de envio (Exemplo: Gmail) -->
    <add key="ssl"  value="true"/>
    <!-- utiliza ssl (Exemplo: Gmail) -->
    <add key="UseDefaultCredentials" value="false"/>
    <!-- Porta de envio -->
    <add key="clientsmtp" value="smtp.gmail.com"/>
    <!-- cliente SMTP (Exemplo: Gmail) -->
    <add key="encoding" value="iso-8859-1"/>
    <!-- Codificação do texto (Exemplo: ç e palavras com acento) -->

    <!-- E-mail -->
    <add key="anexo" value="nomedoarquivo.pdf"/>
    <!-- Anexo na pasta Arquivo (Exemplo: arquivo.pdf) -->
    <add key="carregatextocorpo" value="arquivopre.txt"/>
    <!-- Texo pré carregado no arquivo txt (Exemplo: arquivo.pdf) -->
    <add key="assinatura.nome"  value="Fulano de Tal"/>
    <!-- Assinatura seu nome-->
    <add key="assinatura.telefone"  value="(00)00000-0000"/>
    <!-- Assinatura seu telefone -->

  </appSettings>
</configuration>